root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[**.{toml,yml,yaml}]
indent_size = 2

[**.{js,jsx,ts,tsx}]
indent_size = 2
quote_type = double

[**.{json,jsonc}]
indent_size = 2

[*.html]
indent_size = 2

[*.css]
indent_style = tab
indent_size = 2

[*.lua]
indent_size = 4

[*.md]
indent_size = 4

[*.py]
indent_size = 4

[*.sh]
indent_size = 4
