{% extends "base.html.jinja" %}

{% block extra_styles %}
.error { color: red }
{% endblock %}

{% block title %}Error{% endblock %}

{% block content %}
<h2>Error</h2>
<p class="error">{{ message }}</p>
{% if back_url %}
<p><a href="{{ back_url }}">Go Back</a></p>
{% endif %}
<p><a href="/home">Back to Home</a></p>
{% endblock %}
