{% extends "base.html.jinja" %}

{% block extra_styles %}
.error { color: red }
{% endblock %}

{% block title %}Error{% endblock %}

{% block content %}
<h2>Error</h2>
<p class="error">{{ message }}</p>
<p><a href="/files">Back to File List</a></p>
{% endblock %}
