{% extends "base.html.jinja" %}

{% block title %}Login{% endblock %}
{% block header %}Login{% endblock %}

{% block content %}
<form hx-post="/auth/login">
    {% if redirect %}
    <input type="hidden" name="redirect" value="{{ redirect }}">
    {% endif %}
    <div class="form-field">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class="form-field">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <div class="form-field">
        <button type="submit">Login</button>
    </div>
</form>
<a href="/home" class="back-link">Back to Home</a>
{% endblock %}
