{% extends "base.html.jinja" %}

{% block title %}Login to Yak-Shears{% endblock %}

{% block content %}
  <h1>Login</h1>
  <form class="form" method="post" action="/auth/login">
    {% if redirect %}
      <input type="hidden" name="redirect" value="{{ redirect }}">
    {% endif %}
    <div class="form__group">
      <label class="form__label" for="email">Email</label>
      <input class="form__control" type="email" id="email" name="email" required>
    </div>
    <div class="form__group">
      <label class="form__label" for="password">Password</label>
      <input class="form__control" type="password" id="password" name="password" required>
    </div>
    {% if error %}
      <div class="alert alert--warn">
        <strong>Error:</strong> {{ error }}
      </div>
    {% endif %}
    <button class="button button--primary" type="submit">Login</button>
  </form>
  <p class="text-center text-sm">Note: Users must be created by an administrator using the CLI tool.</p>
{% endblock %}
