{% extends "base.html.jinja" %}

{% block extra_head %}
  <script src="https://unpkg.com/@djot/djot@0.3.2/dist/djot.js"></script>
  <script src="/static/js/codejar.min.js"></script>
  <script src="/static/js/highlight.js"></script>
{% endblock %}

{% block title %}Editing {{ file_name }}{% endblock %}

{% block content %}
  <div class="editor__header">
    <h1>Editing {{ file_name }}</h1>
  </div>

  <form id="editor_form" method="post" hx-post="/edit" hx-swap="none" hx-vals="js:{content: getEditorContent()}">
    <input type="hidden" name="file" value="{{ file_path }}">
    <div class="editor" data-manual data-gramm="false"></div>
    <div class="editor__actions">
      <button class="button button--primary" type="submit" id="save-btn">Save Changes</button>
      <span id="save-status" class="editor__status"></span>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script>
  window.serverContent = {{ content | tojson }};
  </script>
  <script type="module" src="/static/js/editor.js"></script>
{% endblock %}
