{% extends "base.html.jinja" %}

{% block extra_styles %}
  <link
    href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/static/css/editor.css">
{% endblock %}

{% block extra_head %}
  <script src="https://unpkg.com/@djot/djot@0.3.2/dist/djot.js"></script>
  <script src="/static/js/codejar.min.js"></script>
  <script src="/static/js/highlight.js"></script>
{% endblock %}

{% block title %}Editing {{ file_name }}{% endblock %}

{% block content %}
  <div class="editor__header">
    <h1>Editing {{ file_name }}</h1>
    <a href="/files" class="editor__back-link">Back to Files</a>
  </div>
  <form method="post">
    <div class="editor" data-manual data-gramm="false"></div>
    <div class="editor__actions">
      <button type="submit">Save Changes</button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script>
  window.serverContent = {{ content | tojson }};
  </script>
  <script type="module" src="/static/js/editor.js"></script>
{% endblock %}
